<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <% if notice.present? %>
        <p id="notice" class="alert-success notice-style"><%= notice %></p>
      <% end %>
      <div class="form-info-style">
        <%= render 'shared/client_and_project_info' %>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-6 col-md-6"></div>
          <div class="col-xl-3 col-md-3"></div>
          <div class="col-xl-3 col-md-3 pt-1">
            <div class="card bg-success text-white mb-3">
              <%= link_to 'Back to Project Setup', project_path(@project), :class => "btn btn-dark", style: "color: white" %>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header"><i class="fas fa-table mr-1"></i>Crews</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>Foreman name</th>
                  <th>Employee Type</th>
                  <th>Project Company</th>
                  <th>Actions</th>

                </tr>
                </thead>

                <tbody>
                <% @foremen.each do |foreman| %>
                  <tr>
                    <td><%= Employee.find_by_id(foreman.employee_id).employee_name rescue "N/A" %></td>
                    <td><%= Employee.find_by_id(foreman.employee_id).employee_type.employee_type rescue "N/A" %> </td>
                    <td><%= Employee.find_by_id(foreman.employee_id).project_company.company_name rescue "N/A" %></td>
                    <td>
                      <% if @project.crews.where(employee_id: nil, foreman_id: foreman.id).present? %>
                        <%= link_to 'Plant', "/projects/#{@project.id}/crews/#{foreman.id}/plants_list", :class => "with-setup-clr btn btn-outline-info" %>
                      <% else %>
                        <%= link_to 'Plant', "/projects/#{@project.id}/crews/#{foreman.id}/plants_list", :class => "without-setup-clr btn btn-outline-dark" %>
                      <% end %>

                      <% if @project.crews.where(plant_id: nil, foreman_id: foreman.id).present? %>
                        <%= link_to 'Employee', "/projects/#{@project.id}/crews/#{foreman.id}/employees_list", :class => "with-setup-clr btn btn-outline-info" %>
                      <% else %>
                        <%= link_to 'Employee', "/projects/#{@project.id}/crews/#{foreman.id}/employees_list", :class => "without-setup-clr btn btn-outline-info" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
              <br>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

<script>
    $('#dataTable').DataTable();
</script>