<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <% if notice.present? %>
        <p id="notice" class="alert-success notice-style"><%= notice %></p>
      <% end %>
      <div class="form-info-style">
        <%= render 'shared/client_project_foreman' %>
      </div>
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-6 col-md-6"></div>


          <div class="col-xl-3 col-md-3">
            <div class="card bg-success text-white mb-3">
              <%= link_to "Back to Crews", project_crews_path(@project), :class => "btn btn-dark", style: "color: white" %>
            </div>
          </div>

          <div class="col-xl-3 col-md-3">
            <div class="card bg-success text-white mb-3">
              <%= link_to "Assign Plant", new_project_crew_path(@project.id, id: params[:id], plant: true), :class => "btn btn-dark", style: "color: white" %>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>Plant ID</th>
                  <th>Plant Name</th>
                  <th>Plant Type</th>
                  <th>Project Company</th>
                  <th>Contract Start Date</th>
                  <th>Contract End Date</th>
                  <th>Status</th>
                  <!--                  <th>Foreman</th>-->
                  <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <% @plants.each do |plant| %>
                  <tr>
                    <td><%= plant.plant.plant_id %></td>
                    <td><%= plant.plant.plant_name %></td>
                    <td><%= plant.plant.plant_type.type_name %></td>
                    <td><%= plant.plant.project_company.company_name %></td>
                    <td><%= plant.plant.contract_start_date %></td>
                    <td><%= plant.plant.contract_end_date %></td>
                    <td><%= plant.plant.status %></td>
                    <td>
                      <% if plant.plant.plant_time_sheets.blank? %>
                        <%= link_to "Delete", "/projects/#{@project.id}/crews/#{plant.id}", :class => "btn btn-outline-danger", method: :delete, data: {confirm: 'Are you sure?'}, remote: true %>
                      <% else %>
                        Not Available
                      <% end %>
                    </td>
                  </tr>
                <% end %>

                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </main>
  </div>
</div>

<script>
    var dataTable = $('#dataTable').DataTable({
        "columnDefs": [
            {"searchable": false, "targets": 3}
        ],
        "scrollY": "500px",
        "scrollX": "700px",
        "lengthMenu": [[50, 100, -1], [50, 100, "All"]]
    });
    document.addEventListener("turbolinks:before-cache", function () {
        if (dataTable !== null) {
            dataTable.destroy();
            dataTable = null;
        }
    });
</script>