<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <center>
          <h3 class="alert-success mt-1"><%= notice %></h3>
        </center>
        <h1 class="mt-4">Budget Holders</h1>
        <div class="row">
          <div class="col-xl-6 col-md-6"></div>

          <div class="col-xl-3 col-md-3">
            <div class="card bg-success text-white mb-3">
              <%= link_to 'Back to Project Setup', project_path(@project), :class => "btn btn-dark", style: "color: white" %>
            </div>
          </div>

          <div class="col-xl-3 col-md-3">
            <div class="card bg-success text-white mb-3">
              <%= link_to "Add New Budget Holder", new_project_budget_holder_path, :class => "btn btn-dark", style: "color: white" %>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>Budget Holder</th>
                  <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <% @budget_holders.each do |budget_holder| %>
                  <tr>
                    <td><%= budget_holder.employee.first_name %></td>
                    <td>
                      <%= link_to "View", "/projects/#{@project.id}/budget_holders/#{budget_holder.id}", :class => "btn btn-outline-dark" %>
                      <%= link_to "Edit", "/projects/#{@project.id}/budget_holders/#{budget_holder.id}/edit", :class => "btn btn-outline-info" %>
                      <%= link_to "Delete", "/projects/#{@project.id}/budget_holders/#{budget_holder.id}", data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-danger", method: :delete %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<script>
    $('#dataTable').DataTable();
</script>