<div id="layoutAuthentication_content">
  <main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Cost Code</h3></div>
            <div class="card-body">

              <%= form_with(model: [@project, cost_code], local: true) do |form| %>
                <%= render 'layouts/error_messages', object: form.object %>

                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :budget_holder, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <select name="cost_code[budget_holder_id]" id="budget_holder" class="form-control">
                        <option value="<%= @cost_code.budget_holder.present? ? @cost_code.budget_holder_id: "" %>"><%= @cost_code.budget_holder.present? ? @cost_code.budget_holder.employee.first_name + " " + @cost_code.budget_holder.employee.last_name: "None" %></option>
                        <% @project.budget_holders.reject { |budget_holder|  budget_holder.id ==  @cost_code.budget_holder_id}.each do |budget_holder| %>
                          <option value="<%= budget_holder.id %>">
                            <%= "#{budget_holder.employee.first_name} #{budget_holder.employee.last_name}" %>
                          </option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :cost_code_id, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :cost_code_id, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :cost_code_description, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :cost_code_description, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :WBS_01, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :WBS_01, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :WBS_01_Description, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :WBS_01_Description, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :WBS_02, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :WBS_02, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>



                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :WBS_02_Description, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :WBS_02_Description, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :WBS_03, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :WBS_03, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :WBS_03_Description, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :WBS_03_Description, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :WBS_04, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :WBS_04, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :WBS_04_Description, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :WBS_04_Description, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :WBS_05, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :WBS_05, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :WBS_05_Description, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :WBS_05_Description, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :WBS_01_Description, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :WBS_01_Description, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>


                <hr>
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-3">
                    <div class="form-group mt-3 mb-0">
                      <div class="actions">
                        <%= form.submit 'Save', :class => 'btn btn-dark w-100', :style => 'font-weight:bold' %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group mt-3 mb-0">
                      <div class="actions">
                        <%= link_to "Cancel", project_cost_codes_path, :class => 'btn btn-dark w-100', :style => 'font-weight:bold; color: white;' %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
