<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <h1 class="mt-4">Cost Codes</h1>
        <div class="row">
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-3 col-md-4">
            <div class="card bg-success text-white mb-3">
              <%= link_to 'New Cost Code', new_cost_code_path, :class => "btn btn-dark", style: "color: white" %>
            </div>
            <%= form_tag import_cost_codes_path, multipart: true do %>
              <%= file_field_tag :file %>
              <%= submit_tag "Import", :class => "btn btn-dark", style: "color: white"%>
            <% end %>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>Cost Code</th>
                  <th>Cost Code Description</th>
                  <th>Project</th>
                  <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <% @cost_codes.each do |cost_code| %>
                  <tr>
                    <td><%= cost_code.cost_code_id %></td>
                    <td><%= cost_code.cost_code_description %></td>
                    <td><%= cost_code.project.project_name rescue "N/A" %></td>
                    <td>
                      <%= link_to 'View', cost_code, :class => "btn btn-outline-dark" %>
                      <%= link_to 'Edit', edit_cost_code_path(cost_code), :class => "btn btn-outline-info" %>
                      <%= link_to 'Delete', cost_code, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-danger" %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>


<script>
    $('#dataTable').DataTable();
</script>