<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <center>
          <h3 class="alert-success mt-1"><%= notice %></h3>
        </center>
        <h1 class="mt-4">Employees</h1>
        <div class="row">
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-3 col-md-4">
            <div class="card bg-success text-white mb-3">
              <%= link_to "New Employee", new_employee_path, :class => "btn btn-dark", style: "color: white" %>
            </div>
            <div class="row" style="margin-left: 1px">
          <%= form_tag import_employees_path, multipart: true do %>
            <%= file_field_tag :file, :required => true %>
            <%= submit_tag "Import", :class => "btn btn-dark", style: "color: white" %>
          <% end %>
            <%= link_to 'Download Template', download_template_employees_path, :class => "btn btn-dark", style: "color: white" %>
            </div>
      </div>
  </div>
  <div class="card mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Employee</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Gender</th>
            <th>company</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>

                <tbody>
                <% @employees.each do |employee| %>
                  <tr>
                    <td><%= employee.first_name %></td>
                    <td><%= employee.last_name %></td>
                    <td><%= employee.employee_id %></td>
                    <td><%= employee.phone %></td>
                    <td><%= employee.email %></td>
                    <td><%= employee.gender %></td>
                    <td><%= employee.client_company.company_name %></td>
                    <td><%= employee.status %></td>
                    <td><%= link_to 'View', employee, :class => "btn btn-outline-dark" %>
                      <%= link_to 'Edit', edit_employee_path(employee), :class => "btn btn-outline-info" %>
                      <%= link_to 'Destroy', employee, method: :delete, data: {confirm: 'Are you sure?'}, remote: true,  :class => "btn btn-outline-danger" %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
              <br>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

<script>
    $('#dataTable').DataTable();
</script>