<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
<!--      <div id="flash">-->
        <%# if notice.present? %>
          <%#= render partial: "shared/notice" %>
        <%# end %>
<!--      </div>-->
      <div class="form-info-style">
        <%= render 'shared/client_and_project_info' %>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-3 col-md-3">
            <%= link_to 'Back to Timesheet ', "/projects/#{@project.id}/plant_time_sheets", :class => "btn btn-dark w-100" %>
          </div>
          <div class="col-xl-1 col-md-1 ml-5">
            <% date = @current_week_start_date.to_s %>
            <%= link_to "/projects/#{@project.id}/plant_time_sheets/show?current=" + date, :class => "btn btn-dark" do %>
              <i style="font-size:21px" class="fa">&#xf053;</i>
            <% end %>
          </div>
          <div class="col-xl-3 col-md-3 text-white btn bg-clr font-weight-bold">
            <%= date %> To <%= @current_week_start_date.end_of_week(:saturday) + 1 %>
          </div>
          <div class="col-xl-1 col-md-1 ml-5">
            <% date = @current_week_start_date.to_s %>
            <%= link_to "/projects/#{@project.id}/plant_time_sheets/show?nextweek=" + date, :class => "btn btn-dark" do %>
              <i style="font-size:21px" class="fa">&#xf054;</i>
            <% end %>
          </div>
          <div class="col-xl-3 col-md-3">
            <%= link_to 'Current Week ', "/projects/#{@project.id}/plant_time_sheets/show", :class => "btn btn-dark w-100" %>
          </div>

          <div class="col-xl-3 col-md-3">
            <%= link_to 'Cost Code Timesheet ', "/projects/#{@project.id}/plant_time_sheets/show?cost_code=true", :class => "btn btn-dark w-100" %>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header"><i class="fas fa-table mr-1"></i>Plant Time Sheet</div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="table" class="table-bordered" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>Plant ID</th>
                  <th>Plant name</th>
                  <th>Company</th>
                  <th>Manager</th>
                  <th>Sun <%= sun = @current_week_start_date %></th>
                  <th>Mon <%= mon = sun.next_day %></th>
                  <th>Tue <%= tue = mon.next_day %></th>
                  <th>Wed <%= wed = tue.next_day %></th>
                  <th>Thur <%= thurs = wed.next_day %></th>
                  <th>Fri <%= fri = thurs.next_day %></th>
                  <th>Sat <%= sat = fri.next_day %></th>
                  <th>Total hours</th>
                </tr>
                </thead>

                <% @project.plants.each do |plant| %>
                  <% if @timesheet_plant_ids.include?(plant.id) %>
                    <tr id="row<%= plant.id %>">
                      <td><%= plant.plant_id rescue "N/A" %></td>
                      <td><%= plant.plant_name rescue "N/A" %></td>
                      <td><%= plant.project_company.company_name rescue "N/A" %></td>
                      <td><%= Employee.find_by_id(plant.foreman.employee_id).employee_name rescue "N/A" %></td>

                      <% week_days_array = [sun, mon, tue, wed, thurs, fri, sat] %>

                      <% @total_hrs = 0 %>
                      <% week_days_array.each do |day| %>
                        <% plant_cost_codes(day, plant) %>

                        <% if @plantsheet.present? %>
                          <td><%= hours = @plantsheet.total_hours %></td>
                          <% @total_hrs = @total_hrs + hours %>
                        <% else %>
                          <td>0</td>
                        <% end %>

                      <% end %>
                      <td>
                        <%= @total_hrs.round(2) rescue 0 %>
                      </td>
                  <% end %>
                  </tr>
                <% end %>
              </table>
              <br>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<script>
    var dataTable = $('#table').DataTable({
        "pageLength": 100,
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'csvHtml5',
                exportOptions: {
                    columns: [0, 1, 2,3, 4, 5, 6, 7, 8, 9, 10, 11]
                }
            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: [0, 1, 2,3, 4, 5, 6, 7, 8, 9, 10, 11]
                }
            },
            {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                exportOptions: {
                    columns: [0, 1, 2,3, 4, 5, 6, 7, 8, 9, 10, 11]
                }
            },
            {
                extend: 'print',
                exportOptions: {
                    columns: [0, 1, 2,3, 4, 5, 6, 7, 8, 9, 10, 11]
                }
            }
        ]
    });
    document.addEventListener("turbolinks:before-cache", function() {
        if (dataTable !== null) {
            dataTable.destroy();
            dataTable = null;
        }
    });

    function formatDate(date) {
        var selected_date = new Date(date),
            month = '' + (selected_date.getMonth() + 1),
            day = '' + selected_date.getDate(),
            year = selected_date.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-');
    }
</script>