<div id="layoutAuthentication_content">
  <main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Plant Type</h3></div>
            <div class="card-body">

              <%= form_with(model: plant_type, local: true) do |form| %>
                <% if plant_type.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(plant_type.errors.count, "error") %> prohibited this plant_type from being
                      saved:</h2>

                    <ul>
                      <% plant_type.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="field">
                  <%= form.label :type_name %>
                  <%= form.text_field :type_name %>
                </div>

                <div class="actions">
                  <%= form.submit %>
                </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>