<%= form_with(model: [@project, plant_type], local: true) do |form| %>
  <%= render 'layouts/error_messages', object: form.object %>
  <div class="form-row">
    <%= form.label :type_name, :class => "mb-1 pt-2 name", :style => 'font-weight:bold' %>
    <div class="value">
      <div class="input-group">
        <% if Plant.find_by_plant_type_id(@plant_type.id).present? %>
          <%= form.text_field :type_name, :class => "form-control py-2", :readonly => true %>
        <% else %>
          <%= form.text_field :type_name, :class => "form-control py-2", :required => true %>
        <% end %>
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="form-group mt-3 mb-0">
        <div class="actions">
          <%= form.submit 'Save', :class => 'btn btn-style bg-clr w-100' %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group mt-3 mb-0">
        <div class="actions">
          <%= link_to "Cancel", project_plant_types_path, :class => 'btn btn-style bg-clr w-100' %>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
<% end %>
