<div id="layoutAuthentication_content">
  <main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Plant Type</h3></div>
            <div class="card-body">
              <p id="notice"><%= notice %></p>

              <div class="text-center font-weight-light my-4"><h1>Plant Types</h1></div>

              <table>
                <thead>
                <tr>
                  <th>Type Name:</th>
                  <th colspan="3"></th>
                </tr>
                </thead>

                <tbody>
                <% @plant_types.each do |plant_type| %>
                  <tr>
                    <td><h6><%= plant_type.type_name %></h6></td>
                    <td><%= link_to 'Show', plant_type %></td>
                    <td><%= link_to 'Edit', edit_plant_type_path(plant_type) %></td>
                    <td><%= link_to 'Destroy', plant_type, method: :delete, data: {confirm: 'Are you sure?'} %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>

              <br>

              <div class="text-center font-weight-light my-4"><%= link_to 'New Plant Type', new_plant_type_path %></div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>