
<!-- Start Left menu area-->
<div class="left-sidebar-pro">
  <nav id="sidebar" class="">
    <div class="sidebar-header">
      <img class="main-logo" src="img/logo/logo.png" alt=""/>
    </div>
    <div class="left-custom-menu-adp-wrap comment-scrollbar" style="margin-top: -34px;">
      <nav class="sidebar-nav left-sidebar-menu-pro">
        <ul class="metismenu" id="menu1">
          <li>
            <a class="has-arrow" href="all-professors.html" aria-expanded="false"><span class="educate-icon educate-professor icon-wrap"></span> <span class="mini-click-non">Users</span></a>
            <ul class="submenu-angle" aria-expanded="false">
              <li> <%=link_to 'Add User', new_user_path %></li>
              <li><a title="Edit User" href="edit-professor.html"><span class="mini-sub-pro">Edit User</span></a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </nav>
</div>
<!-- End Left menu area -->
<!-- Start Welcome area -->
<div class="header-top-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="header-top-wraper">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
              <div class="header-right-info" style="width:100px; margin:0 auto;">
                <ul class="nav navbar-nav mai-top-nav header-right-menu">
                  <li class="nav-item">
                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle" style="color: black;">
                      <!--                          <img src="img/product/pro4.jpg" alt=""/>-->
                      <%= current_admin_user.email %>
                      <!--                          <span class="admin-name">Welcome <%#= current_admin_user.email %> !</span>-->
                    </a>
                    <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                      <li><a href="#"><span class="edu-icon edu-home-admin author-log-ic"></span>My Account</a>
                      </li>
                      <li><a href="#"><span class="edu-icon edu-user-rounded author-log-ic"></span>My Profile</a>
                      <li><a href="#"><span class="edu-icon edu-settings author-log-ic"></span>Settings</a>
                      </li>
                      <li>
                        <%= link_to 'Log Out', destroy_admin_user_session_path, method: :delete %>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="all-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<!--        <div class="logo-pro">-->
<!--          <br><br>-->
<!--          <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt=""/></a>-->
<!--        </div>-->
      </div>
    </div>
  </div>
<!--  <div class="header-advance-area">-->

<!--  </div>-->
  <br><br>


  <div class="analytics-sparkle-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="analytics-sparkle-line reso-mg-b-30">
            <div class="analytics-content">
              <h5>Users</h5>
              <h2><span class="counter">5000</span></h2>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="analytics-sparkle-line reso-mg-b-30">
            <div class="analytics-content">
              <h5>Projects</h5>
              <h2><span class="counter">3000</span></h2>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="analytics-sparkle-line reso-mg-b-30 table-mg-t-pro dk-res-t-pro-30">
            <div class="analytics-content">
              <h5>Labour Hours</h5>
              <h2><span class="counter">2000</span></h2>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="analytics-sparkle-line table-mg-t-pro dk-res-t-pro-30">
            <div class="analytics-content">
              <h5>Plant Hours</h5>
              <h2><span class="counter">3500</span></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div style="width:800px; margin:0 auto;">
  <div class="traffic-analysis-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#neworder" role="tab" aria-controls="nav-home" aria-selected="true">
          <div class="social-media-edu">

            <div class="social-edu-ctn">
              <h3>Projects</h3>
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#ongoingorder" role="tab" aria-controls="nav-profile" aria-selected="false">
          <div class="social-media-edu twitter-cl res-mg-t-30 table-mg-t-pro-n">
            <div class="social-edu-ctn">
              <h3>Ambquad TM Users</h3>
            </div>
          </div>
          </a>
        </div>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#orderhistory" role="tab" aria-controls="nav-contact" aria-selected="false">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="social-media-edu youtube-cl res-mg-t-30 res-tablet-mg-t-30 dk-res-t-pro-30">
<!--           <i style='font-size:20px' class='far'>&#xf1ad;</i>-->
            <div class="social-edu-ctn">
              <h3>Client Companies</h3>
            </div>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
<div class="tab-pane fade" id="neworder">
  <%= render partial: 'shared/project_table' %>
</div>
<div class="tab-pane fade" id="ongoingorder">
  <%= render partial: 'shared/user_table' %>
</div>
<div class="tab-pane fade" id="orderhistory">
  <%= render partial: 'shared/client_compnies_table' %>
</div>
</div>
<br>
