<div class="card mb-4">
  <div class="card-header"><i class="fas fa-table mr-1"></i>Projects</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>Name</th>
          <th>Company</th>
          <th>Country</th>
          <th>Project Actions</th>
        </tr>
        </thead>

        <tbody>

        <% if current_user.role.eql?("Admin") && current_user.client_company.company_name.eql?("Ambquad") %>
          <% Project.all.each do |project| %>
            <tr>
              <td><%= project.project_name rescue "N/A" %></td>
              <td><%= project.client_company.company_name rescue "N/A" %></td>
              <td><%= project.country rescue "N/A" %></td>
              <td>
                <% if project.project_status.eql?(0) %>
                  <%= link_to "Setup", project_path(project), :class => "btn btn-outline-success" if can? :view, Project %>
                <% else %>
                  <%= button_tag 'Setup', :class => "btn btn-outline-dark disable", type: 'button' %>
                <% end %>

                <%= link_to "Edit", edit_project_path(project), :class => "btn btn-outline-info" if can? :update, Project %>
                <%= link_to "Delete", project_path(project), data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-danger", method: :delete, remote: true if can? :delete, Project %></td>
            </tr>
          <% end %>
        <% else %>
          <% current_user.client_company.projects.each do |project| %>
            <tr>
              <td><%= project.project_name %></td>
              <td><%= project.client_company.company_name rescue "N/A" %></td>
              <td><%= project.country rescue "N/A" %></td>
              <td>
                <%= link_to "Setup", project_path(project), :class => "btn btn-outline-success" if can? :view, Project %>
                <%= link_to "Edit", edit_project_path(project), :class => "btn btn-outline-info" if can? :update, Project %>
                <%= link_to "Delete", project_path(project), data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-danger", method: :delete if can? :delete, Project %></td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>