<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <center>
          <h3 class="alert-success mt-1"><%= notice %></h3>
        </center>
        <h1 class="mt-4">Project Equipments</h1>
        <div class="row">
          <div class="col-xl-6 col-md-6"></div>

          <div class="col-xl-3 col-md-3">
            <div class="card bg-success text-white mb-3">
              <%= link_to 'Back to Project Setup', project_path(@project), :class => "btn btn-dark", style: "color: white" %>
            </div>
          </div>

          <div class="col-xl-3 col-md-3">
            <div class="card bg-success text-white mb-3">
              <%= link_to "Add New Plant", new_project_project_plant_path, :class => "btn btn-dark", style: "color: white" %>
            </div>
            <div class="row" style="margin-left: 1px">
              <%= form_tag import_project_plants_path, multipart: true do %>
                <%= file_field_tag :file, :required => true  %>
                <%= submit_tag "Import", :class => "btn btn-dark", style: "color: white" %>
              <% end %>
              <%= link_to 'Download Template', download_template_project_plants_path, :class => "btn btn-dark", style: "color: white" %>
            </div>
          </div>

        </div>

        <div class="card mb-4">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>Plant Name</th>
                  <th>Plant ID</th>
                  <th>Plant Type</th>
                  <th>Contract Start Date</th>
                  <th>Contract End Date</th>
                  <th>Foreman Start Date</th>
                  <th>Foreman End Date</th>
                  <th>Off Load</th>
                  <th>Market Value</th>
                  <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <% @project_plants.each do |project_plant| %>
                  <tr>
                    <td><%= project_plant.plant.plant_name rescue "N/A" %></td>
                    <td><%= project_plant.plant.plant_id rescue "N/A" %></td>
                    <td><%= project_plant.plant_type.type_name rescue "N/A" %></td>
                    <td><%= project_plant.contract_start_date rescue "N/A" %></td>
                    <td><%= project_plant.contract_end_date rescue "N/A" %></td>
                    <td><%= project_plant.foreman_start_date rescue "N/A" %></td>
                    <td><%= project_plant.foreman_end_date rescue "N/A" %></td>
                    <td><%= project_plant.offload rescue "N/A" %></td>
                    <td><%= project_plant.plant.market_value rescue "N/A" %></td>

                    <td>
                      <%= link_to "View", "/projects/#{@project.id}/project_plants/#{project_plant.id}", :class => "btn btn-outline-dark" %>
                      <%= link_to "Edit", "/projects/#{@project.id}/project_plants/#{project_plant.id}/edit", :class => "btn btn-outline-info" %>
                      <%= link_to "Delete", "/projects/#{@project.id}/project_plants/#{project_plant.id}", :class => "btn btn-outline-danger", method: :delete, data: {confirm: 'Are you sure?'} %>
                    </td>
                  </tr>
                <% end %>

                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </main>
  </div>
</div>

<script>
  var dataTable = $('#dataTable').DataTable({
    "columnDefs": [
        {"searchable": false, "targets": 3}
    ]
  });
  document.addEventListener("turbolinks:before-cache", function() {
    if (dataTable !== null) {
      dataTable.destroy();
      dataTable = null;
    }
  });
</script>