<!--<p id="notice"><%#= notice %></p>-->
<!--<h1>Other Managers</h1>-->
<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <h1 class="mt-4">Other Managers</h1>
        <div class="row">
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-3 col-md-4">
            <div class="card bg-success text-white mb-3">
              <%= link_to 'Add New Manager', new_other_manager_path, :class => "btn btn-dark", style: "color: white" %>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>Employee Name</th>
                  <th>Manager Type</th>
                  <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <% @other_managers.each do |other_manager| %>
                  <tr>
                    <td><%="#{other_manager.employee.first_name} #{other_manager.employee.last_name}"%></td>
                    <td><%= other_manager.manager_type %></td>
                    <td><%= link_to 'View', other_manager, :class => "btn btn-outline-dark" %>
                    <%= link_to 'Edit', edit_other_manager_path(other_manager), :class => "btn btn-outline-info" %>
                    <%= link_to 'Destroy', other_manager, method: :delete, data: {confirm: 'Are you sure?'} , :class => "btn btn-outline-danger"%></td>
                  </tr>
                <% end %>
                </tbody>
              </table>

              <br>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

<script>
    $('#dataTable').DataTable();
</script>