<!--<p id="notice"><%#= notice %></p>-->
<!--<h1>Other Managers</h1>-->
<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <center>
          <h3 class="alert-success mt-1"><%= notice %></h3>
        </center>
        <h5 class="mt-2 text-center">Other Managers</h5>
        <%= render 'shared/client_and_project_info' %>
        <div class="row">
          <div class="col-xl-6 col-md-6"></div>

          <div class="col-xl-3 col-md-3">
            <div class="card bg-success text-white mb-3">
              <%= link_to 'Back to Project Setup', project_path(@project), :class => "btn btn-dark", style: "color: white" %>
            </div>
          </div>

          <div class="col-xl-3 col-md-3">
            <div class="card bg-success text-white mb-3">
              <%= link_to 'Add New Manager', new_project_other_manager_path, :class => "btn btn-dark", style: "color: white" %>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>Employee Name</th>
                  <th>Manager Type</th>
                  <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <% @other_managers.each do |other_manager| %>
                  <tr>
                    <td><%=other_manager.employee.employee_name %></td>
                    <td><%= other_manager.manager_type %></td>
                    <td><%= link_to 'View', "/projects/#{@project.id}/other_managers/#{other_manager.id}", :class => "btn btn-outline-dark" %>
                    <%= link_to 'Edit', "/projects/#{@project.id}/other_managers/#{other_manager.id}/edit", :class => "btn btn-outline-info" %>
                    <%= link_to 'Destroy', "/projects/#{@project.id}/other_managers/#{other_manager.id}/", method: :delete, data: {confirm: 'Are you sure?'} , :class => "btn btn-outline-danger" , remote: true  %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>

              <br>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

<script>
    $('#dataTable').DataTable();
</script>