<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <center>
          <h3 class="alert-success mt-1"><%= notice %></h3>
        </center>
        <h3 class="mt-2 text-center">Project Companies</h3>
        <%= render 'shared/client_and_project_info' %>
        <div class="row">
          <div class="col-xl-6 col-md-6"></div>
          <div class="col-xl-3 col-md-3">
            <div class="card bg-success text-white mb-3">
              <%= link_to 'Back to Project Setup', project_path(@project), :class => "btn btn-dark", style: "color: white" %>
            </div>
          </div>
          <div class="col-xl-3 col-md-3">
            <div class="card bg-success text-white mb-3">
              <%= link_to 'New Project Company', new_project_project_company_path, :class => "btn btn-dark", style: "color: white" %>
            </div>
            <div class="row" style="margin-left: 1px">
              <%= form_tag import_project_project_companies_path, multipart: true do %>
                <%= file_field_tag :file, :required => true %>
                <%= submit_tag "Import", :class => "btn btn-dark", style: "color: white" %>
              <% end %>
              <%= link_to 'Download Template', download_template_project_project_companies_path, :class => "btn btn-dark", style: "color: white" %>
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>Project Company</th>
                  <th>Address</th>
                  <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <% @project_companies.each do |project_company| %>
                  <tr>
                    <td><%= project_company.company_name %></td>
                    <td><%= project_company.address %></td>
                    <td><%= link_to 'View', "/projects/#{@project.id}/project_companies/#{project_company.id}", :class => "btn btn-outline-dark" %>
                      <%= link_to 'Edit', "/projects/#{@project.id}/project_companies/#{project_company.id}/edit", :class => "btn btn-outline-info" %>
                      <%= link_to 'Destroy', "/projects/#{@project.id}/project_companies/#{project_company.id}", method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-danger", remote: true  %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>

              <br>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

<script>
    $('#dataTable').DataTable();
</script>