<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <h1 class="mt-4">Projects</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item active">Projects</li>
        </ol>
        <div class="row">
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-3 col-md-4">
            <div class="card bg-success text-white mb-3">
              <%= link_to "Add New Project", new_project_path, :class => "btn btn-dark", style: "color: white" %>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Compnay</th>
                  <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <% @projects.each do |project| %>
                  <tr>
                    <td><%= project.project_name %></td>
                    <td><%= project.address %></td>
                    <td><%= project.client_companies.last.name rescue nil  %></td>
                    <td>
                      <%= link_to "View", project_path(project), :class => "btn btn-outline-dark" %>
                      <%= link_to "Edit", edit_project_path(project), :class => "btn btn-outline-info" %>
                      <%= link_to "Delete", project_path(project), :class => "btn btn-outline-danger", method: :delete %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>


<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

<script>
    $('#dataTable').DataTable();
</script>