<style>
  a:hover {
    background-color: transparent;
  }

  .row1-clr {
    background-color: #c0a16b;
  }

  .row2-clr {
    background-color: darkgrey;
  }

  .row3-clr {
    background-color: #8ACCB1;
  }
</style>
<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <div id="layoutAuthentication_content">
      <main>
        <div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header">
                  <center>
                    <h3 id="notice" class="alert-success mt-1"><%= notice %></h3>
                  </center>
                  <h3 class="font-weight-light my-3"><%= @project.project_name %></h3>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-2 text-center">
                        <div class="row">
                          <span class="ml-5"><%= @project.project_employees.count %></span>
                        </div>
                        <div class="row mt-2">
                          <button class="btn btn-primary">Employees</button>
                        </div>
                      </div>
                      <div class="col-md-2 text-center">
                        <div class="row">
                          <span class="ml-5"><%= @project.plants.count %></span>
                        </div>
                        <div class="row mt-2">
                          <button class="btn btn-primary">Plant Items</button>
                        </div>
                      </div>
                      <div class="col-md-2 ">
                        <span>1221</span><br>
                        <span class="small" style="color: #BEBEC4">labour hours</span>
                      </div>

                      <div class="col-md-2 ">
                        <span>1212</span><br>
                        <span class="small" style="color: #BEBEC4">Plant hours</span>
                      </div>
                      <div class="col-md-2 mt-1 ">
                        <button class="btn w-100 text-white" style="background-color: #8ACCB1">Client</button>
                      </div>
                      <div class="col-md-2 mt-1">
                        <button class="btn w-100 text-white" style="background-color: #8ACCB1; width: 114px">Enter Hours
                        </button>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="card-body mt-3">
                  <div class="" id="nav-tab" role="tablist">

                    <div class="row">
                      <div class="col-xl-3 col-md-6">
                        <div class="card row1-clr text-white mb-4">
                          <div class="card-body">Project Employees</div>
                          <div class="card-footer d-flex align-items-center justify-content-between">
                            <% if @project.project_employees.present? %>
                              <%= link_to 'Project Employees Detail', "/projects/#{@project.id}/project_employees", :class => "bold-title-with-color nav-item nav-link small", :style => "cursor:default" %>
                            <% else %>
                              <%= link_to 'Project Employees Detail', "/projects/#{@project.id}/project_employees", :class => "bold-title nav-item nav-link bold-title small" %>
                            <% end %>
                            <!--                        <a class="small text-white stretched-link" href="#">View Details</a>-->
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-md-6">
                        <div class="card row1-clr text-white mb-4">
                          <div class="card-body">Cost Codes</div>
                          <div class="card-footer d-flex align-items-center justify-content-between">
                            <% if @project.cost_codes.present? %>
                              <%= link_to 'Cost Codes Detail', "/projects/#{@project.id}/cost_codes", :class => "bold-title-with-color nav-item nav-link small" %>
                            <% else %>
                              <%= link_to 'Cost Codes Detail', "/projects/#{@project.id}/cost_codes", :class => "bold-title nav-item nav-link small" %>
                            <% end %>
                            <!--                        <a class="small text-white stretched-link" href="#">View Details</a>-->
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-md-6">
                        <div class="card row1-clr text-white mb-4">
                          <div class="card-body">Other Managers</div>
                          <div class="card-footer d-flex align-items-center justify-content-between">
                            <% if @project.other_managers.present? %>
                              <%= link_to 'Other Managers Detail', "/projects/#{@project.id}/other_managers", :class => "bold-title-with-color nav-item nav-link small" %>
                            <% else %>
                              <%= link_to 'Other Managers Detail', "/projects/#{@project.id}/other_managers", :class => "bold-title nav-item nav-link small" %>

                            <% end %>
                            <!--                        <a class="small text-white stretched-link" href="#">View Details</a>-->
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-md-6">
                        <div class="card row1-clr text-white mb-4">
                          <div class="card-body">Project Equipment</div>
                          <div class="card-footer d-flex align-items-center justify-content-between">
                            <% if @project.plants.present? %>
                              <%= link_to 'Project Equipment List', "/projects/#{@project.id}/plants", :class => "bold-title-with-color nav-item nav-link small" %>
                            <% else %>
                              <%= link_to 'Project Equipment List', "/projects/#{@project.id}/plants", :class => "bold-title nav-item nav-link small" %>

                            <% end %>
                            <!--                        <a class="small text-white stretched-link" href="#">View Details</a>-->
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-xl-3 col-md-6">
                        <div class="card row2-clr text-white mb-4">
                          <div class="card-body">Budget Holders</div>
                          <div class="card-footer d-flex align-items-center justify-content-between">
                            <% if @project.budget_holders.present? %>
                              <%= link_to 'Budget Holders Detail', "/projects/#{@project.id}/budget_holders", :class => "bold-title-with-color nav-item nav-link small" %>
                            <% else %>
                              <%= link_to 'Budget Holders Detail', "/projects/#{@project.id}/budget_holders", :class => "bold-title nav-item nav-link small" %>
                            <% end %>
                            <!--                        <a class="small text-white stretched-link" href="#">View Details</a>-->
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-md-6">
                        <div class="card row2-clr text-white mb-4">
                          <div class="card-body">Employee Types</div>
                          <div class="card-footer d-flex align-items-center justify-content-between">
                            <% if @project.employee_types.present? %>
                              <%= link_to 'Employee Types Detail', "/projects/#{@project.id}/employee_types", :class => "bold-title-with-color nav-item nav-link small" %>
                            <% else %>
                              <%= link_to 'Employee Types Detail', "/projects/#{@project.id}/employee_types", :class => "bold-title nav-item nav-link small" %>
                            <% end %>
                            <!--                        <a class="small text-white stretched-link" href="#">View Details</a>-->
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-md-6">
                        <div class="card row2-clr text-white mb-4">
                          <div class="card-body">Project Companies</div>
                          <div class="card-footer d-flex align-items-center justify-content-between">
                            <% if @project.project_companies.present? %>
                              <%= link_to 'Project Companies Detail', "/projects/#{@project.id}/project_companies", :class => "bold-title-with-color nav-item nav-link small" %>
                            <% else %>
                              <%= link_to 'Project Companies Detail', "/projects/#{@project.id}/project_companies", :class => "bold-title nav-item nav-link small" %>

                            <% end %>
                            <!--                        <a class="small text-white stretched-link" href="#">View Details</a>-->
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xl-3 col-md-6">
                        <div class="card row2-clr text-white mb-4">
                          <div class="card-body">Foreman</div>
                          <div class="card-footer d-flex align-items-center justify-content-between">
                            <% if @project.foremen.present? %>
                              <%= link_to 'Foreman Detail', "/projects/#{@project.id}/foremen", :class => "bold-title-with-color nav-item nav-link small" %>
                            <% else %>
                              <%= link_to 'Foreman Detail', "/projects/#{@project.id}/foremen", :class => "bold-title nav-item nav-link small" %>

                            <% end %>
                            <!--                        <a class="small text-white stretched-link" href="#">View Details</a>-->
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="row">

                      <div class="col-xl-3 col-md-6">
                        <div class="card row3-clr text-white mb-3">
                          <div class="card-body">Plant Types</div>
                          <div class="card-footer d-flex align-items-center justify-content-between">
                            <% if @project.plant_types.present? %>
                              <%= link_to 'Plant Types Detail', "/projects/#{@project.id}/plant_types", :class => "bold-title-with-color nav-item nav-link small" %>
                            <% else %>
                              <%= link_to 'Plant Types Detail', "/projects/#{@project.id}/plant_types", :class => "bold-title nav-item nav-link small" %>
                            <% end %>
                            <!--                        <a class="small text-white stretched-link" href="#">View Details</a>-->
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-md-6">
                        <div class="card row3-clr text-white mb-3">
                          <div class="card-body">Employee Time Sheet</div>
                          <div class="card-footer d-flex align-items-center justify-content-between">
                            <%= link_to 'Employee Time Sheet Detail', "/projects/#{@project.id}/employee_time_sheets", :class => "bold-title-with-color nav-item nav-link small" %>
                            <!--                        <a class="small text-white stretched-link" href="#">View Details</a>-->
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xl-3 col-md-6">
                        <div class="card row3-clr text-white mb-3">
                          <div class="card-body">Plant Time Sheet</div>
                          <div class="card-footer d-flex align-items-center justify-content-between">
                            <%= link_to 'Plant Time Sheet Detail', "/projects/#{@project.id}/plant_time_sheets", :class => "bold-title-with-color nav-item nav-link small" %>
                            <!--                        <a class="small text-white stretched-link" href="#">View Details</a>-->
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-3 col-md-6">
                        <div class="card row3-clr text-white mb-3">
                          <div class="card-body">Employees</div>
                          <div class="card-footer d-flex align-items-center justify-content-between">
                            <% if @project.employees.present? %>
                              <%= link_to 'Employees Detail', "/projects/#{@project.id}/employees", :class => "bold-title-with-color nav-item nav-link small" %>
                            <% else %>
                              <%= link_to 'Employees Detail', "/projects/#{@project.id}/employees", :class => "bold-title nav-item nav-link small" %>
                            <% end %>
                            <!--                        <a class="small text-white stretched-link" href="#">View Details</a>-->
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>