<div id="layoutAuthentication_content">
  <main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Project</h3></div>
            <div class="card-body">
              <p id="notice"><%= notice %></p>

              <div class="form-row pt-2">
                <div class="col-md-4">
                  <strong>Project name:</strong>
                </div>
                <div class="col-md-6">
                  <div >
                    <%= @project.project_name %>
                  </div>
                </div>
              </div>

              <div class="form-row pt-2">
                <div class="col-md-4">
                  <strong>Address:</strong>
                </div>
                <div class="col-md-6">
                  <div >
                    <%= @project.address %>
                  </div>
                </div>
              </div>

              <div class="form-row pt-2">
                <div class="col-md-4">
                  <strong>Project lead:</strong>
                </div>
                <div class="col-md-6">
                  <div >
                    <%= @project.project_lead %>
                  </div>
                </div>
              </div>

              <div class="form-row pt-2">
                <div class="col-md-4">
                  <strong>Company:</strong>
                </div>
                <div class="col-md-6">
                  <div >
                    <%= @project.company.name %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                  <div class="form-group mt-3 mb-0">
                    <div class="actions">
                      <%= link_to 'Edit', edit_project_path(@project), :class => 'btn btn-dark w-100', :style => 'font-weight:bold; color: white;' %>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group mt-3 mb-0">
                    <div class="actions">
                      <%= link_to 'Back', projects_path, :class => 'btn btn-dark w-100', :style => 'font-weight:bold; color: white;' %>
                    </div>
                  </div>
                </div>
                <div class="col-md-3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
