<div id="layoutAuthentication_content">
  <main>
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-9">
          <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header">
              <center>
                <h3 id="notice" class="alert-success mt-1"><%= notice %></h3>
              </center>
              <h3 class="text-center font-weight-light my-3"><%= @project.project_name %></h3></div>

            <div class="container">
              <div class="row">
                <div class="col-md-2 pt-2 text-center">
                  <span><%= @project.project_employees.count %></span>
                  <button class="btn btn-primary">Employees</button>
                </div>
                <div class="col-md-2 pt-2  text-center">
                  <span><%= @project.plants.count %></span>
                  <button class="btn btn-primary">Plant Items</button>
                </div>
                <div class="col-md-2 pt-2">
                  <span>1221</span><br>
                  <span class="small" style="color: #BEBEC4">labour hours</span>
                </div>

                <div class="col-md-2 pt-2">
                  <span>1212</span><br>
                  <span class="small" style="color: #BEBEC4">Plant hours</span>
                </div>
                <div class="col-md-2 pt-2">
                  <button class="btn w-100 text-white" style="background-color: #843B0C">Client</button>
                </div>
                <div class="col-md-2 pt-2">
                  <button class="btn text-white" style="background-color: #843B0C; width: 114px">Enter Hours</button>
                </div>
              </div>
            </div>


            <div class="card-body">
              <div class="" id="nav-tab" role="tablist">

                <div class="row">
                  <div class="col-md-4 pt-4">
                    <% if @project.project_employees.present? %>
                      <%= link_to 'Project Employees', "/projects/#{@project.id}/project_employees", :class => "bold-title-with-color nav-item nav-link btn btn-dark" %>
                    <% else %>
                      <%= link_to 'Project Employees', "/projects/#{@project.id}/project_employees", :class => "bold-title nav-item nav-link btn btn-dark bold-title" %>
                    <% end %>
                  </div>

                  <div class="col-md-4 pt-4">
                    <% if @project.cost_codes.present? %>
                      <%= link_to 'Cost Codes', "/projects/#{@project.id}/cost_codes", :class => "bold-title-with-color nav-item nav-link btn btn-dark" %>
                    <% else %>
                      <%= link_to 'Cost Codes', "/projects/#{@project.id}/cost_codes", :class => "bold-title nav-item nav-link btn btn-dark" %>

                    <% end %>
                  </div>

                  <div class="col-md-4 pt-4">
                    <% if @project.other_managers.present? %>
                      <%= link_to 'Other Managers', "/projects/#{@project.id}/other_managers", :class => "bold-title-with-color nav-item nav-link btn btn-dark" %>
                    <% else %>
                      <%= link_to 'Other Managers', "/projects/#{@project.id}/other_managers", :class => "bold-title nav-item nav-link btn btn-dark" %>

                    <% end %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 pt-4">
                    <% if @project.plants.present? %>
                      <%= link_to 'Project Equipment List', "/projects/#{@project.id}/project_plants", :class => "bold-title-with-color nav-item nav-link btn btn-dark" %>
                    <% else %>
                      <%= link_to 'Project Equipment List', "/projects/#{@project.id}/project_plants", :class => "bold-title nav-item nav-link btn btn-dark" %>

                    <% end %>
                  </div>

                  <div class="col-md-4 pt-4">
                    <% if @project.budget_holders.present? %>
                      <%= link_to 'Budget Holders', "/projects/#{@project.id}/budget_holders", :class => "bold-title-with-color nav-item nav-link btn btn-dark" %>
                    <% else %>
                      <%= link_to 'Budget Holders', "/projects/#{@project.id}/budget_holders", :class => "bold-title nav-item nav-link btn btn-dark" %>
                    <% end %>
                  </div>

                  <div class="col-md-4 pt-4">
                    <% if @project.employee_types.present? %>
                      <%= link_to 'Employee Types', "/projects/#{@project.id}/employee_types", :class => "bold-title-with-color nav-item nav-link btn btn-dark" %>
                    <% else %>
                      <%= link_to 'Employee Types', "/projects/#{@project.id}/employee_types", :class => "bold-title nav-item nav-link btn btn-dark" %>
                    <% end %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 pt-4">
                    <% if @project.project_companies.present? %>
                      <%= link_to 'Companies', "/projects/#{@project.id}/project_companies", :class => "bold-title-with-color nav-item nav-link btn btn-dark" %>
                    <% else %>
                      <%= link_to 'Companies', "/projects/#{@project.id}/project_companies", :class => "bold-title nav-item nav-link btn btn-dark" %>

                    <% end %>
                  </div>

                  <div class="col-md-4 pt-4">
                    <% if @project.foremen.present? %>
                      <%= link_to 'Foreman', "/projects/#{@project.id}/foremen", :class => "bold-title-with-color nav-item nav-link btn btn-dark" %>
                    <% else %>
                      <%= link_to 'Foreman', "/projects/#{@project.id}/foremen", :class => "bold-title nav-item nav-link btn btn-dark" %>

                    <% end %>
                  </div>

                  <div class="col-md-4 pt-4">
                    <% if @project.plant_types.present? %>
                      <%= link_to 'Plant Types', "/projects/#{@project.id}/plant_types", :class => "bold-title-with-color nav-item nav-link btn btn-dark" %>
                    <% else %>
                      <%= link_to 'Plant Types', "/projects/#{@project.id}/plant_types", :class => "bold-title nav-item nav-link btn btn-dark" %>
                    <% end %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 pt-4">
                    <%# if @project.crews.present? %>
                    <%= link_to 'Crew', crew_project_foremen_path(@project.id), :class => "bold-title-with-color nav-item nav-link btn btn-dark" %>
                    <%# else %>
                    <%#= link_to 'Crew', crew_project_foremen_path(@project.id), :class => "bold-title nav-item nav-link btn btn-dark" %>
                    <%# end %>
                  </div>
                  <div class="col-md-4 pt-4">
                    <%= link_to 'Employee Time Sheet', "/projects/#{@project.id}/employee_time_sheets", :class => "bold-title-with-color nav-item nav-link btn btn-dark"  %>
                  </div>
                  <div class="col-md-4 pt-4">
                    <%= link_to 'Plant Time Sheet', plant_time_sheets_path, :class => "bold-title-with-color nav-item nav-link btn btn-dark" %>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>