<div id="layoutAuthentication_content">
  <main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-body">
              <%= form_with(model: plant, local: true) do |form| %>
                <% if plant.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(plant.errors.count, "error") %> prohibited this company from being saved:</h2>

                    <ul>
                      <% plant.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>


                <div class="form-row">
                  <div class="col-md-4">
                    <%= form.label :plant_name, :class => "mb-1", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :plant_name, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-4">
                    <%= form.label :plant_id, :class => "mb-1", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :plant_id, validate: true, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-4">
                    <%= form.label :contract_start_date, :class => "mb-1", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.date_field :contract_start_date, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-4">
                    <%= form.label :contract_end_date, :class => "mb-1", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.password_field :contract_end_date, validate: true, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-4">
                    <%= form.label :plant_type, :class => "mb-1", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <select name="plant[plant_type_id]" id="plant_type_id" class="form-control">
                        <% PlantType.all.each do |type| %>
                          <option value="<%= type.id %>">
                            <%= type.type_name %>
                          </option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-4">
                    <%= form.label :market_value, :class => "mb-1", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :market_value, validate: true, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>


                <hr>
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-3">
                    <div class="form-group mt-3 mb-0">
                      <div class="actions">
                        <%= form.submit 'Save', :class => 'btn btn-dark w-100', :style => 'font-weight:bold' %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group mt-3 mb-0">
                      <div class="actions">
                        <%= link_to "Cancel", plants_path, :class => 'btn btn-dark w-100', :style => 'font-weight:bold; color: white;' %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3"></div>
                </div>



            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>