<div id="layoutAuthentication_content">
  <main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4"><%= @plant.plant_name %></h3></div>
            <div class="card-body">

              <p id="notice"><%= notice %></p>

              <div class="form-row pt-2">
                <div class="col-md-4">
                  <strong>Plant name:</strong>
                </div>
                <div class="col-md-8">
                  <div>
                    <%= @plant.plant_name %>
                  </div>
                </div>
              </div>

              <div class="form-row pt-2">
                <div class="col-md-4">
                  <strong>Plant:</strong>
                </div>
                <div class="col-md-6">
                  <div>
                    <%= @plant.plant_id %>
                  </div>
                </div>
              </div>

              <div class="form-row pt-2">
                <div class="col-md-4">
                  <strong>Plant type:</strong>
                </div>
                <div class="col-md-6">
                  <div >
                    <%= @plant.plant_type_id %>
                  </div>
                </div>
              </div>

              <div class="form-row pt-2">
                <div class="col-md-4">
                  <strong>Project company:</strong>
                </div>
                <div class="col-md-6">
                  <div>
                    <%= @plant.project_company_id %>
                  </div>
                </div>
              </div>

              <div class="form-row pt-2">
                <div class="col-md-4">
                  <strong>Contract start date:</strong>
                </div>
                <div class="col-md-6">
                  <div>
                    <%= @plant.contract_start_date %>
                  </div>
                </div>
              </div>

              <div class="form-row pt-2">
                <div class="col-md-4">
                  <strong>Contract end date:</strong>
                </div>
                <div class="col-md-6">
                  <div>
                    <%= @plant.contract_end_date %>
                  </div>
                </div>
              </div>

              <div class="form-row pt-2">
                <div class="col-md-4">
                  <strong>Market value:</strong>
                </div>
                <div class="col-md-6">
                  <div>
                    <%= @plant.market_value %>
                  </div>
                </div>
              </div>

              <div class="form-row pt-2">
                <div class="col-md-4">
                  <strong>Status:</strong>
                </div>
                <div class="col-md-6">
                  <div>
                    <%= @plant.status %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                  <div class="form-group mt-3 mb-0">
                    <div class="actions">
                      <%= link_to 'Edit', edit_plant_path(@plant), :class => 'btn btn-dark w-100', :style => 'font-weight:bold' %>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group mt-3 mb-0">
                    <div class="actions">
                      <%= link_to 'Back', plants_path, :class => 'btn btn-dark w-100', :style => 'font-weight:bold; color: white;' %>
                    </div>
                  </div>
                </div>
                <div class="col-md-3"></div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
