<div id="layoutAuthentication_content">
  <main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="card shadow-lg border-0 rounded-lg mt-5">
<!--            <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Company</h3></div>-->
            <div class="card-body">
              <%= form_with(model: company, local: true) do |form| %>
                <%= render 'layouts/error_messages', object: form.object %>
                <%# if company.errors.any? %>
<!--                  <div id="error_explanation">-->
<!--                    <h2><%#= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>-->

<!--                    <ul>-->
                      <%# company.errors.full_messages.each do |message| %>
<!--                        <li><%#= message %></li>-->
                      <%# end %>
<!--                    </ul>-->
<!--                  </div>-->
                <%# end %>
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.label :email, :class => "small mb-1" %>
                      <%= form.email_field :email, :class => "form-control py-4", :required => true %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.label :name, :class => "small mb-1" %>
                      <%= form.text_field :name, validate: true , :class => "form-control py-4", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.label :phone_number, :class => "small mb-1" %>
                      <%= form.telephone_field :phone_number, :class => "form-control py-4", :required => true %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.label :address, :class => "small mb-1" %>
                      <%= form.text_field :address, :class => "form-control py-4", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.label :number_of_users, :class => "small mb-1" %>
                      <%= form.number_field :number_of_users, :class => "form-control py-4", :required => true %>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.label :start_date, :class => "small mb-1" %>
                      <%= form.date_field :start_date, :class => "form-control py-4", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="form-group mt-4 mb-0">
                  <div class="actions">
                    <%= form.submit %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>