<!--<p id="notice"><%#= notice %></p>-->

<!--<h1>Project Employees</h1>-->
<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <h1 class="mt-4">Project Employees</h1>
        <div class="row">
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-3 col-md-4">
            <div class="card bg-success text-white mb-3">
              <%= link_to 'Add Project Employee', new_project_project_employee_path, :class => "btn btn-dark", style: "color: white" %>
            </div>
          </div>

        </div>

        <div class="card mb-4">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Foreman</th>
                  <th>Other Manager</th>
                  <th>Total hours</th>
                  <th>Contract start date</th>
                  <th>Contract end date</th>
                  <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <% @project_employees.each do |project_employee| %>
                  <tr>
                    <td><%= project_employee.employee.first_name + " " + project_employee.employee.last_name %></td>
                    <td><%= project_employee.employee_type.employee_type %></td>
                    <td><%= project_employee.foreman.employee.first_name rescue "N/A" %></td>
                    <td><%= project_employee.other_manager.employee.first_name rescue "N/A" %></td>
                    <td><%= project_employee.total_hours %></td>
                    <td><%= project_employee.contract_start_date %></td>
                    <td><%= project_employee.contract_end_date %></td>
                    <td><%= link_to 'View', "/projects/#{@project.id}/project_employees/#{project_employee.id}", :class => "btn btn-outline-dark" %>
                      <%= link_to 'Edit', "/projects/#{@project.id}/project_employees/#{project_employee.id}/edit", :class => "btn btn-outline-info" %>
                      <%= link_to 'Destroy', "/projects/#{@project.id}/project_employees/#{project_employee.id}"+ "?delete=true", method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-outline-danger" %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>

              <br>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>


<script>
    $('#dataTable').DataTable();
</script>