<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <% if notice.present? %>
      <p id="notice" class="alert-success notice-style"><%= notice %></p>
    <% end %>
    <div class="form-info-style">
      <%= render 'shared/client_and_project_info' %>
    </div>
    <div class="page-wrapper p-b-50">
      <div class="wrapper wrapper--w790">
        <div class="card card-5 form-border-style">
          <div class="card-heading bg-clr card-text-clr">
            <h4 class="text-center font-weight-light">
              Edit Project Employee
            </h4>
          </div>
          <div class="card-body">

            <div class="form-row pt-2">
              <div class="col-md-4">
                <strong>Employee:</strong>
              </div>
              <div class="col-md-6">
                <div>
                  <%= @project_employee.employee.employee_name %>
                </div>
              </div>
            </div>

            <div class="form-row pt-2">
              <div class="col-md-4">
                <strong>Employee type:</strong>
              </div>
              <div class="col-md-6">
                <div>
                  <%= @project_employee.employee_type.employee_type %>
                </div>
              </div>
            </div>

            <div class="form-row pt-2">
              <div class="col-md-4">
                <strong>Project:</strong>
              </div>
              <div class="col-md-6">
                <div>
                  <%= @project.project_name rescue "N/A" %>
                </div>
              </div>
            </div>

            <div class="form-row pt-2">
              <div class="col-md-4">
                <strong>Project Company:</strong>
              </div>
              <div class="col-md-6">
                <div>
                  <%= @project_employee.project_company.company_name rescue "N/A" %>
                </div>
              </div>
            </div>

            <div class="form-row pt-2">
              <div class="col-md-4">
                <strong>Total hours:</strong>
              </div>
              <div class="col-md-6">
                <div>
                  <%= @project_employee.total_hours %>
                </div>
              </div>
            </div>

            <div class="form-row pt-2">
              <div class="col-md-4">
                <strong>Contract start date:</strong>
              </div>
              <div class="col-md-6">
                <div>
                  <%= @project_employee.contract_start_date %>
                </div>
              </div>
            </div>

            <div class="form-row pt-2">
              <div class="col-md-4">
                <strong>Contract end date:</strong>
              </div>
              <div class="col-md-6">
                <div>
                  <%= @project_employee.contract_end_date %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-3">
                <div class="form-group mt-3 mb-0">
                  <div class="actions">
                    <%= link_to 'Edit', "/projects/#{@project.id}/project_employees/#{@project_employee.id}/edit", :class => 'btn btn-dark w-100', :style => 'font-weight:bold; color: white;' %>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group mt-3 mb-0">
                  <div class="actions">
                    <%= link_to 'Back', project_project_employees_path, :class => 'btn btn-dark w-100', :style => 'font-weight:bold; color: white;' %>
                  </div>
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>