<div id="layoutAuthentication_content">
  <main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="card shadow-lg border-0 rounded-lg mt-5">
<!--            <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Company</h3></div>-->
            <div class="card-body">
              <%= form_with(model: client_company , local: true) do |form| %>
                <% if client_company.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(client_company.errors.count, "error") %> prohibited this company from being saved:</h2>

                    <ul>
                      <% client_company.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>




                <div class="form-row">
                  <div class="col-md-4">
                    <%= form.label :email, :class => "mb-1", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.email_field :email, :class => "form-control py-4", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-4">
                    <%= form.label :name, :class => "mb-1", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :name, validate: true , :class => "form-control py-4", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-4">
                    <%= form.label :phone_number, :class => "mb-1", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.telephone_field :phone_number, :class => "form-control py-4", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-4">
                    <%= form.label :address, :class => "mb-1", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :address, :class => "form-control py-4", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-4">
                    <%= form.label :number_of_users, :class => "mb-1", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.number_field :number_of_users, :class => "form-control py-4", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-md-4">
                    <%= form.label :start_date, :class => "mb-1", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.date_field :start_date, :class => "form-control py-4", :required => true %>
                    </div>
                  </div>
                </div>

                <hr>
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-3">
                    <div class="form-group mt-3 mb-0">
                      <div class="actions">
                        <%= form.submit 'Save', :class => 'btn btn-dark w-100', :style => 'font-weight:bold' %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group mt-3 mb-0">
                      <div class="actions">
                        <%= link_to "Cancel", client_companies_path, :class => 'btn btn-dark w-100', :style => 'font-weight:bold; color: white;' %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>