
<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <center>
          <h3 class="alert-success mt-1"><%= notice %></h3>
        </center>
        <h1 class="mt-2">Companies</h1>
        <div class="row">
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-3 col-md-4">
            <div class="card bg-dark text-white mb-3">
              <%= link_to "Add New Company", new_client_company_path, :class => "btn btn-dark", style: "color: white" if can? :create, ClientCompany %>
            </div>
          </div>

        </div>
        <div class="card mb-4">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>Company Name</th>
                  <th>Phone Number</th>
                  <th>Address</th>
                  <th>Number of Users</th>
                  <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <% @companies.each do |company| %>
                  <tr>
                    <td><%= company.company_name %></td>
                    <td><%= company.phone %></td>
                    <td><%= company.address %></td>
                    <td><%= company.number_of_users %></td>
                    <td>
                      <%= link_to "View", client_company_path(company), :class => "btn btn-outline-success" if can? :view, ClientCompany %>
                      <%= link_to "Edit", edit_client_company_path(company), :class => "btn btn-outline-info" if can? :update, ClientCompany %>
                      <%= link_to 'Destroy', "/client_companies/#{company.id}" + "?delete=true",
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-danger" if can? :destroy, ClientCompany %>
                    </td>
                  </tr>
                <% end %>

                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </main>
  </div>
</div>

<script>
    $('#dataTable').DataTable();
</script>