<div id="layoutAuthentication_content">
  <main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Employee Type</h3></div>
            <div class="card-body">
              <%= form_with(model: employee_type, local: true) do |form| %>
                <%= render 'layouts/error_messages', object: form.object %>

                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.label :employee_type, :class => "small mb-1" %>
                      <%= form.text_field :employee_type, :class => "form-control py-4", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="actions">
                  <%= form.submit %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>