<%= form_with(model: [@project, foreman], local: true) do |form| %>
  <% if foreman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(foreman.errors.count, "error") %> prohibited this foreman from being saved:</h2>

      <ul>
        <% foreman.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
      <%= form.label :employees, :class => "mb-1 pt-2 name", :style => 'font-weight:bold' %>
    <div class="value">
      <div class="input-group">
        <% if params[:action].eql?("edit") %>
          <select name="foreman[employee_id]" id="employee_id" class="form-control">
            <option value="<%= @foreman.employee.present? ? @foreman.employee_id : "" %>"><%= @foreman.employee.present? ? @foreman.employee.employee_name : "" %></option>
            <% @project.employees.reject { |employee| employee.id == @foreman.employee_id }.each do |employee| %>
              <option value="<%= employee.id %>">
                <%= employee.employee_name %>
              </option>
            <% end %>
          </select>
        <% else %>
          <%= form.select :employee_ids, options_for_select(@project.employees.reject { |employee| @project.foremen.pluck(:employee_id).include?(employee.id) }.map { |c| [c.employee_name, c.id] }), {}, {class: "form-control selectpicker", data: {"live-search": true}, multiple: true} %>
        <% end %>
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="form-group mt-3 mb-0">
        <div class="actions">
          <%= form.submit 'Save', :class => 'btn btn-style bg-clr w-100' %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group mt-3 mb-0">
        <div class="actions">
          <%= link_to "Cancel", project_foremen_path, :class => 'btn btn-style bg-clr w-100' %>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function () {
        $('select').selectpicker();
    });
</script>