<% @employee_time_sheets.each do |employee_time_sheet| %>
  <tr>
    <td><%= employee_time_sheet.employee %></td>
    <td><%= employee_time_sheet.labour_type %></td>
    <td><%= employee_time_sheet.project_company_id %></td>
    <td><%= employee_time_sheet.manager %></td>
    <td><%= employee_time_sheet.foreman_name %></td>
    <td><%= employee_time_sheet.total_hours %></td>
    <td>20CP01</td>
    <td>9.50</td>
    <td>20CP01</td>
    <td>9.50</td>
    <td>20CP01</td>
    <td>9.50</td>
  </tr>
<% end %>
