<% @employee_time_sheets.each do |employee_time_sheet| %>
  <tr id="row<%= employee_time_sheet.id %>">
    <td class="emp_id"><%= employee_time_sheet.id %></td>
    <td><%= employee_time_sheet.employee %></td>
    <!--    <td class="emp_id"><%#= employee_time_sheet.employee_id %></td>-->
    <td><%= employee_time_sheet.labour_type %></td>
    <td><%= employee_time_sheet.project_company_id %></td>
    <td><%= employee_time_sheet.manager %></td>
    <td><%= employee_time_sheet.foreman_name %></td>
    <td>
      <button id="total_hours_button" class="w-100" onclick="updateTotalHours(<%= employee_time_sheet.total_hours %>, <%= employee_time_sheet.id %>)"><%= employee_time_sheet.total_hours %></button>
    </td>
    <% cost_codes = @project.time_sheet_cost_codes.where(employee_time_sheet_id: employee_time_sheet.id).to_a %>
    <% for i in 0..4 %>
      <% if cost_codes[i].present? %>
        <td><%= cost_codes[i].cost_code %>
          <% @cost_code_id = cost_codes[i].cost_code_id %>
          <% @cost_code_time_sheet_id = @project.time_sheet_cost_codes.find_by(cost_code_id: @cost_code_id).id %>
          <button class="cost-btn" , onclick="delete_cost_code(<%= @cost_code_id %>, <%= @cost_code_time_sheet_id%>,row<%= employee_time_sheet.id %>)">x</button>
        </td>
        <td class="emp_id"> <%= cost_codes[i].cost_code %></td>
        <td><%= cost_codes[i].hrs %></td>
      <% else %>
        <td>
          <button class="w-100 cost-bot">+</button>
        <td class="emp_id">  </td>
        </td>
        <td>0</td>
      <% end %>
    <% end %>
  </tr>
<% end %>