<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div id="flash">
        <% if notice.present? %>
          <%#= render partial: "shared/notice" %>
        <% end %>
      </div>
      <div class="form-info-style">
        <%= render 'shared/client_and_project_info' %>
      </div>

      <div class="container-fluid">
        <div class="modal fade" id="cost_code_modal" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="js-example-basic-single form-control" name="time_sheet_cost_code[cost_code_id]" onchange="add_cost_code()" id="cost_code">
                    </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
          <%# end %>
        </div>
        <center>
          <h3 class="alert-info mt-1"><%= notice %></h3>
        </center>
        <div class="row">
          <div class="col-xl-3 col-md-3">
            <div class="card bg-success text-white mb-2">
              <%= link_to 'Back to Project Setup', project_path(@project), :class => "btn btn-dark", style: "color: white" %>
            </div>
          </div>

          <div class="col-xl-3 col-md-3">
            <div class="card text-white mb-2">
              <button class="pt-1 pb-1" style="background-color: #856404; color: white;" onclick="next_week_time_sheet(<%=params[:project_id] %>)">
                Next week Time Sheet
              </button>
            </div>
          </div>

          <div class="col-xl-3 col-md-3">
            <div class="card text-white mb-2">
              <button class="pt-1 pb-1" style="background-color: #856404; color: white;" onclick="clear_employee_time_sheet(<%=params[:project_id] %>)">Clear
                Time Sheet
              </button>
            </div>
          </div>
          <div class="col-xl-3 col-md-3">
            <div class="text-white mb-2">
              <input id="datepicker_search_bar" readonly value="<%= @employee_time_sheets.first.timesheet_created_at.strftime("%m/%d/%Y") %>" placeholder="<%= @employee_time_sheets.first.timesheet_created_at.strftime("%m/%d/%Y") %>"/>
            </div>
          </div>
          <div class="col-xl-3 col-md-3"></div>
        </div>
        <div class="card mb-4">
          <div class="card-header"><i class="fas fa-table mr-1"></i>Employee Time Sheet</div>
          <div class="card-body">
            <div class="table-responsive">

              <table id="table" class="table-bordered" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th rowspan="2">Employee ID</th>
                  <th rowspan="2">Employee</th>
                  <th rowspan="2">Labour type</th>
                  <th rowspan="2">Company</th>
                  <th rowspan="2">Manager</th>
                  <th rowspan="2">Total hours</th>
                  <th colspan="10" style="text-align:center;">Select Cost Codes</th>
                </tr>
                <tr>
                  <th>Costcode</th>
                  <th>Hrs</th>
                  <th>Costcode</th>
                  <th>Hrs</th>
                  <th>Costcode</th>
                  <th>Hrs</th>
                  <th>Costcode</th>
                  <th>Hrs</th>
                  <th>Costcode</th>
                  <th>Hrs</th>
                </tr>
                </thead>
                <tbody>
                <%= render 'time_sheet_table_data' %>
                </tbody>
              </table>
              <br>

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group mt-3 mb-0">
                    <div class="actions">
                      <button id="datepicker_copy_from_previous" class='btn btn-dark w-100' style='font-weight:bold; color: white;'>Copy
                        from Previous Timesheet
                      </button>
                    </div>
                  </div>
                </div>
                <% if !current_user.role.eql?("Admin") %>
                  <div class="col-md-3">
                    <div class="form-group mt-3 mb-0">
                      <div class="actions">
                        <button class='btn btn-dark w-100' style='font-weight:bold; color: white;' onclick="submit_time_sheet()">
                          Submit Timesheet
                        </button>
                      </div>
                    </div>
                  </div>
                <% end %> 
                <div class="col-md-3">
                  <div class="form-group mt-3 mb-0">
                    <div class="actions">
                      <%= link_to 'Timesheet View', "/projects/#{@project.id}/employee_time_sheets/show", :class => "btn btn-dark w-100" %>
                    </div>
                  </div>
                </div>
                <div class="col-md-3"></div>
              </div>
              <%#= link_to 'New Employee Time Sheet', new_employee_time_sheet_path %>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<script type="text/javascript">

    function cost_modal(emp_id, emp_time_id) {
        time_sheet_employee_id = emp_time_id;
        employee_id = emp_id;
        $.ajax({
            type: "GET",
            url: "/projects/<%= @project.id %>/employee_time_sheets",
            data: {time_sheet_employee_id, emp_id, find_emp_codes: emp_time_id},
            success: function (data) {
                $("#cost_code").empty();
                var select = document.getElementById("cost_code");
                $(select).append("<option disabled selected value>-- Select Cost Code -- </option>");
                for (i = 0; i < data.length; i++) {
                    $(select).append("<option value=" + data[i].id + ">" + data[i].cost_code_id + " " + data[i].cost_code_description + "</option>")
                }
                $("#cost_code_modal").modal();
                $('.js-example-basic-single').select2();
            }
        })
    }

    function add_cost_code() {
        cost_code_id = $('#cost_code').val();
        cost_code = $("#cost_code option:selected").text();
        var celender_date = $("#datepicker_search_bar").val();
        var formated_date = formatDate(celender_date);
        project_id = <%= params[:project_id] %>
            $.ajax({
                headers: {
                    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                },
                type: 'POST',
                url: '/projects/<%= @project.id %>/time_sheet_cost_codes',
                data: {
                    cost_code_id: cost_code_id,
                    cost_code: cost_code,
                    project_id: project_id,
                    time_sheet_employee_id: time_sheet_employee_id,
                    date: formated_date
                },
                cache: false,
                success: function () {
                    $("#cost_code").val('');
                    $("#cost_code_modal").modal("hide");
                }
            });
    }

    $('#datepicker_search_bar').datepicker({
        uiLibrary: 'bootstrap',
        // maxDate: new Date()
    });

    $('#datepicker_search_bar').change(function () {
        var celender_date = $("#datepicker_search_bar").val();
        var formated_date = formatDate(celender_date);
        $.ajax({
            type: "GET",
            url: '/projects/<%= @project.id %>/employee_time_sheets',
            data: {date: formated_date, search_date: 'true'}
        })
    });

    $('#datepicker_copy_from_previous').datepicker({
        uiLibrary: 'bootstrap',
        // maxDate: new Date()
    });

    $('#datepicker_copy_from_previous').change(function () {
        var calender_date = $("#datepicker_copy_from_previous").val();
        var current_date = $("#datepicker_search_bar").val();
        var formated_date = formatDate(calender_date);
        var current_formatted_date = formatDate(current_date);
        $("#datepicker_copy_from_previous").val("");
        $.ajax({
            type: "GET",
            url: "/projects/<%= @project.id %>/employee_time_sheets",
            data: {date: formated_date, current_date: current_formatted_date, copy_from_previous: 'true'}
        })
    });

    function formatDate(date) {
        var selected_date = new Date(date),
            month = '' + (selected_date.getMonth() + 1),
            day = '' + selected_date.getDate(),
            year = selected_date.getFullYear();
        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;
        return [year, month, day].join('-');
    }

    function updateTotalHours(total_hours, data_id) {
        var new_total_hours = prompt("Please Enter Total Hour:", total_hours);
        $.ajax({
            type: "GET",
            url: "/projects/<%= @project.id %>/employee_time_sheets",
            data: {total_hour: new_total_hours, update_total_hour: 'true', data_id: data_id}
        })
    }

    function delete_cost_code(cost_code_id, delete_id, row, timesheet_date) {
        row_id = row.id;
        if (confirm("Are you sure?")) {
            var link_url = "/projects/<%= @project.id %>/time_sheet_cost_codes/" + delete_id;
            $.ajax({
                headers: {
                    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                },
                type: "DELETE",
                url: link_url,
                data: {cost_code_id, timesheet_date},
                success: function () {
                    // $('#' + row_id).addClass("table-dark");
                }
            })
        }
        return false;
    }

    function submit_time_sheet() {
        if (confirm("Are you sure to submit timesheet?")) {
            var sheet_date = null;
            var celender_date = $("#datepicker_search_bar").val();
            if (celender_date == "") {
                sheet_date = formatDate(new Date());
            } else {
                sheet_date = new Date(celender_date);
            }

            $.ajax({
                type: "GET",
                url: "/projects/<%= @project.id %>/employee_time_sheets",
                data: {submit_time_sheet: true, sheet_date: sheet_date}
            })
        }
    }

    function clear_employee_time_sheet(project_id) {
        var celender_date = $("#datepicker_search_bar").val();
        if (celender_date == "") {
            var today_date = formatDate(new Date())
        } else {
            var today_date = formatDate(celender_date)
        }
        if (confirm("Are you sure?")) {
            var link_url = "/projects/<%= @project.id %>/time_sheet_cost_codes/";
            $.ajax({
                headers: {
                    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                },
                type: "GET",
                url: link_url,
                data: {project_id, today_date, employee_sheet_clear: 'true'},
                success: function () {

                }
            })
        }
    }

    function next_week_time_sheet(project_id) {
        var link_url = "/projects/<%= @project.id %>/employee_time_sheets?next_week_time_sheet=true";
        $.ajax({
            headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            },
            type: "GET",
            url: link_url,
            data: {employee_sheet_clear: 'true'},
            success: function () {
                alert("TimeSheet created successfully.")

            }
        })

    }
    
    var dataTable = $('#table').DataTable({
      "ordering": false,
      "pageLength": 100,
    });
    document.addEventListener("turbolinks:before-cache", function() {
        if (dataTable !== null) {
            dataTable.destroy();
            dataTable = null;
        }
    });
</script>