<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">


        <div class="modal fade" id="cost_code_modal" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="col-md-6">
                  <div class="form-group">
                    <select class="js-example-basic-single form-control" name="time_sheet_cost_code[cost_code_id]" onchange="add_cost_code()" id="cost_code">
                      <option value=""> --- Select Cost Code ---</option>
                      <% @project_cost_codes.all.each do |cost_code| %>
                        <option value="<%= cost_code.id %>">
                          <%= cost_code.cost_code_description %>
                        </option>
                      <% end %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
          <%# end %>
        </div>
        <center>
          <h3 class="alert-info mt-1"><%= notice %></h3>
        </center>
        <h1 class="mt-2">Employees Time Sheet</h1>
        <div class="row">
          <div class="col-xl-6 col-md-6"></div>
          <div class="col-xl-2 col-md-2"></div>
          <div class="col-xl-3 col-md-3">
            <div class="card bg-success text-white mb-3">
              <%= link_to 'Back to Project Setup', project_path(@project), :class => "btn btn-dark", style: "color: white" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-4 col-md-6"></div>
          <div class="col-xl-3 col-md-4">
            <div class="text-white mb-3">
              <input id="datepicker" width="270" placeholder="Select Date"/>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <div class="table-responsive">

              <table id="example" class="table-bordered" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th rowspan="2">Employee</th>
                  <th rowspan="2" class="emp_id">Employee ID</th>
                  <th rowspan="2">Labour type</th>
                  <th rowspan="2">Company</th>
                  <th rowspan="2">Manager</th>
                  <th rowspan="2">Foreman</th>
                  <th rowspan="2">Total hours</th>
                  <th colspan="6">Select Cost Codes</th>
                </tr>
                <tr>
                  <th>Costcode</th>
                  <th>Hrs</th>
                  <th>Costcode</th>
                  <th>Hrs</th>
                  <th>Costcode</th>
                  <th>Hrs</th>
                </tr>
                </thead>
                <tbody>
                <%= render 'time_sheet_table_data' %>
                </tbody>
              </table>
              <br>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group mt-3 mb-0">
                    <div class="actions">
                      <button id="datepicker1" class='btn btn-dark w-100' style='font-weight:bold; color: white;'>Copy from Previous Timesheet</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group mt-3 mb-0">
                    <div class="actions">
                      <%= link_to 'Save Progress', "/projects/#{@project.id}/employee_time_sheets", :class => 'btn btn-dark w-100', :style => 'font-weight:bold; color: white;' %>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group mt-3 mb-0">
                    <div class="actions">
                      <%= link_to 'Update Timesheets', "/projects/#{@project.id}/employee_time_sheets", :class => 'btn btn-dark w-100', :style => 'font-weight:bold; color: white;' %>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group mt-3 mb-0">
                    <div class="actions">
                      <%= link_to 'Submit Timesheets', "/projects/#{@project.id}/employee_time_sheets", :class => 'btn btn-dark w-100', :style => 'font-weight:bold; color: white;' %>
                    </div>
                  </div>
                </div>
              </div>
              <%#= link_to 'New Employee Time Sheet', new_employee_time_sheet_path %>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js" crossorigin="anonymous"></script>
<!--<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">
    $('.cost-bot').click(function () {
        employee_id = $(this).parent().siblings()[1].textContent;
        $("#cost_code_modal").modal();
        $('.js-example-basic-single').select2();
    });

    function add_cost_code() {
        cost_code_id = $('#cost_code').val();
        cost_code = $("#cost_code option:selected").text()
        $.ajax({
            headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            },
            type: 'POST',
            url: '/time_sheet_cost_codes',
            data: {cost_code_id: cost_code_id, cost_code: cost_code, employee_id: employee_id},
            cache: false,
            success: $("#myModal").hide()
        });

    }

    $('#example').DataTable({
        dom: 'Bfrtip',
        buttons: [
            'csv', 'excel', 'pdf', 'print'
        ]
    });
    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap'
    });

    $('#datepicker1').datepicker({
        dateFormat: 'dd-mm-yy',
        uiLibrary: 'bootstrap'
    });

    $('#datepicker1').change(function ()
    {
        var id = $("#datepicker1").val();
        $.ajax({
            type: "GET",
            url: "/employee_time_sheets",
            data: { date: id }
        })
    });

</script>