<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div id="flash">
        <% if notice.present? %>
          <%= render partial: "shared/notice" %>
        <% end %>
      </div>
      <div class="form-info-style">
        <%= render 'shared/client_and_project_info' %>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-3 col-md-3">
            <%= link_to 'Back to Timesheet ', "/projects/#{@project.id}/employee_time_sheets", :class => "btn btn-dark w-100" %>
          </div>
          <div class="col-xl-1 col-md-1">
            <% date = @current_week_start_date.to_s %>
            <%= link_to "/projects/#{@project.id}/employee_time_sheets/show?current=" + date, :class => "btn btn-dark" do %>
              <i style="font-size:21px" class="fa">&#xf053;</i>
            <% end %>
          </div>
          <div class="col-xl-2 col-md-2 text-white btn bg-clr">
            <%= date %>
          </div>
          <div class="col-xl-2 col-md-2 btn btn-info">
            <%= @current_week_start_date.end_of_week(:saturday) + 1 %>
          </div>
          <div class="col-xl-1 col-md-1">
            <% date = @current_week_start_date.to_s %>
            <%= link_to "/projects/#{@project.id}/employee_time_sheets/show?nextweek=" + date, :class => "btn btn-dark" do %>
              <i style="font-size:21px" class="fa">&#xf054;</i>
            <% end %>
          </div>
          <div class="col-xl-3 col-md-3">
            <%= link_to 'Current Week ', "/projects/#{@project.id}/employee_time_sheets/show", :class => "btn btn-dark w-100" %>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header"><i class="fas fa-table mr-1"></i>Employee Time Sheet</div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="table" class="table-bordered" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>Project Name</th>
                  <th>Employee ID</th>
                  <th>Employee</th>
                  <th>Labour type</th>
                  <th>Company</th>
                  <th>Manager</th>
                  <th>Foreman</th>
                  <th>Date</th>
                  <th>Sun <%= sunday = @current_week_start_date %></th>
                  <th>Mon <%= monday = sunday.next_day %></th>
                  <th>Tue <%= tuesday = monday.next_day %></th>
                  <th>Wed <%= wednesday = tuesday.next_day %></th>
                  <th>Thu <%= thursday = wednesday.next_day %></th>
                  <th>Fri <%= friday = thursday.next_day %></th>
                  <th>Sat <%= saturday = friday.next_day %></th>
                  <th>Total hours</th>
                </tr>
                </thead>
                <tbody>
                <% @employee_time_sheets.each do |employee_time_sheet| %>
                  <tr id="row<%= employee_time_sheet.id %>">
                    <td><%= employee_time_sheet.project.project_name %></td>
                    <td><%= employee_time_sheet.employee_id %></td>
                    <td><%= employee_time_sheet.employee %></td>
                    <td><%= employee_time_sheet.labour_type %></td>
                    <td><%= employee_time_sheet.company %></td>
                    <td><%= employee_time_sheet.manager %></td>
                    <td><%= employee_time_sheet.foreman_name %></td>
                    <td><%= employee_time_sheet.employee_create_date %></td>
                    <% employee_codes_of_specific_date(employee_time_sheet.id, sunday, monday, tuesday, wednesday, thursday, friday, saturday) %>
                    <% if @sunday_cost_code.present? %>
                      <td><%= @sunday_cost_code.hrs %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <% if @monday_cost_code.present? %>
                      <td><%= @monday_cost_code.hrs %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <% if @tue_cost_code.present? %>
                      <td><%= @tue_cost_code.hrs %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <% if @wed_cost_code.present? %>
                      <td><%= @wed_cost_code.hrs %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <% if @thur_cost_code.present? %>
                      <td><%= @thur_cost_code.hrs %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <% if @fri_cost_code.present? %>
                      <td><%= @fri_cost_code.hrs %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <% if @saturday_cost_code.present? %>
                      <td><%= @saturday_cost_code.hrs %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <td>
                      <%= employee_time_sheet.total_hours %>
                    </td>
                <% end %>
                </tr>
              </table>
              <br>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#table').DataTable({
            "pageLength": 100,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'csvHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
                    }
                },
                {
                    extend: 'pdfHtml5',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: [0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: [0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
                    }
                }
            ]
        });
    });
</script>