<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @employee_time_sheet.employee %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @employee_time_sheet.employee_id %>
</p>

<p>
  <strong>Labour type:</strong>
  <%= @employee_time_sheet.labour_type %>
</p>

<p>
  <strong>Employee type:</strong>
  <%= @employee_time_sheet.employee_type_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @employee_time_sheet.company %>
</p>

<p>
  <strong>Project company:</strong>
  <%= @employee_time_sheet.project_company_id %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @employee_time_sheet.manager %>
</p>

<p>
  <strong>Foreman:</strong>
  <%= @employee_time_sheet.foreman_id %>
</p>

<p>
  <strong>Total hours:</strong>
  <%= @employee_time_sheet.total_hours %>
</p>

<%= link_to 'Edit', edit_employee_time_sheet_path(@employee_time_sheet) %> |
<%= link_to 'Back', employee_time_sheets_path %>
