<!DOCTYPE html>
<html>
<head>
  <title>AmbquadTm</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application' %>
  <%= action_cable_meta_tag %>
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body class="sb-nav-fixed">

<% if user_signed_in? %>

  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">AmbQuad</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i>
    </button
    ><!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <div class="input-group-append">
        </div>
      </div>
    </form>
    <!-- Navbar-->
    <div class="col-sm-2">
       <%= link_to 'Log Out', "/users/0", :class => 'btn btn-dark w-100', :style => 'color: white;' %>
    </div>
  </nav>

  <div id="layoutSidenav">

    <% if current_user.role.eql?("Admin") %>
      <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
            <div class="nav">
              <a class="nav-link" href="/">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i>
                </div>
                Dashboard
              </a>

              <a class="nav-link" href="/users">

                <div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>
                AmbQuad Users
              </a>

              <a class="nav-link" href="/client_companies">

                <div class="sb-nav-link-icon"><i class="fa fa-building"></i></div>
                Client Companies
              </a>
              <a class="nav-link" href="/projects/">

                <div class="sb-nav-link-icon"><i class="fa fa-tasks"></i></div>
                Projects
              </a>

<!--              <a class="nav-link" href="/employee_types/">-->
<!--                <div class="sb-nav-link-icon"><i class="fa fa-th"></i></div>-->
<!--                Employee Types-->
<!--              </a>-->

<!--              <a class="nav-link" href="/plants/">-->
<!--                <div class="sb-nav-link-icon"><i class="fas fa-snowplow"></i></div>-->
<!--                Plants-->
<!--              </a>-->

<!--              <a class="nav-link" href="/plant_types/">-->
<!--                <div class="sb-nav-link-icon"><i class="fa fa-th"></i></div>-->
<!--                Plant Types-->
<!--              </a>-->

            </div>
          </div>
        </nav>
      </div>

    <% else %>
      <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
            <div class="nav">
              <a class="nav-link" href="/">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i>
                </div>
                Dashboard
              </a>

              <!--              <a class="nav-link" href="/users">-->
              <!--                <div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>-->
              <!--                AmbQuad Users-->
              <!--              </a>-->

              <a class="nav-link" href="/">

                <div class="sb-nav-link-icon"><i class="fa fa-building"></i></div>
                Project Companies
              </a>
              <a class="nav-link" href="/projects/">

                <div class="sb-nav-link-icon"><i class="fa fa-tasks"></i></div>
                Projects
              </a>

              <a class="nav-link" href="/project_employees/">

                <div class="sb-nav-link-icon"><i class="fa fa-building"></i></div>
                Project Employees
              </a>

              <a class="nav-link" href="/project_companies/">

                <div class="sb-nav-link-icon"><i class="fa fa-building"></i></div>
                Project Companies
              </a>
              <a class="nav-link" href="/employees/">

                <div class="sb-nav-link-icon"><i class="fa fa-tasks"></i></div>
                Employees
              </a>

              <a class="nav-link" href="/foremen/">

                <div class="sb-nav-link-icon"><i class="fa fa-tasks"></i></div>
                Foremen
              </a>

              <a class="nav-link" href="/other_managers/">

                <div class="sb-nav-link-icon"><i class="fa fa-tasks"></i></div>
                Other Managers
              </a>

              <a class="nav-link" href="/employee_types/">
                <div class="sb-nav-link-icon"><i class="fa fa-th"></i></div>
                Employee Types
              </a>

              <a class="nav-link" href="/plants/">
                <div class="sb-nav-link-icon"><i class="fas fa-snowplow"></i></div>
                Plants
              </a>

              <a class="nav-link" href="/plant_types/">
                <div class="sb-nav-link-icon"><i class="fa fa-th"></i></div>
                Plant Types
              </a>

            </div>
          </div>
        </nav>
      </div>
    <% end %>
  </div>

  <%= yield %>

<% else %>
  <%= yield %>
<% end %>
</body>

</html>
