
<div id="layoutAuthentication_content">
  <main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-body">
              <%= form_with(model: temporary_user, local: true) do |form| %>
                <% if temporary_user.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(temporary_user.errors.count, "error") %> prohibited this company from being saved:</h2>

                    <ul>
                      <% temporary_user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :Comapny, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <select name="temporary_user[client_company_id]" id="company_id" class="form-control">
                        <option value=" "></option>
                        <% ClientCompany.all.each do |company| %>
                          <option value="<%= company.id %>">
                            <%= company.company_name %>
                          </option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="hidden_option">
                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :first_name, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :first_name, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :last_name, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :last_name, validate: true, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :country, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <select name="temporary_user[country_name]" id="country" class="form-control">
                        <option value=" "></option>
                        <% @country = ISO3166::Country.countries.sort %>
                        <% @country.each do |c| %>
                          <option value="<%= c.name %>">
                            <%= c.name %>
                          </option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :phone_no, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :phone_no, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :email, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.email_field :email, validate: true, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :username, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.text_field :username, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :password, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= form.password_field :password, validate: true, :class => "form-control py-2", :required => true %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <%= form.label :Role, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <select name="temporary_user[role]" id="role" class="form-control">
                        <% User.roles.each do |key, value| %>
                          <option value="<%= value %>">
                            <%= key %>
                          </option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                </div>

                  <div class="row">
                    <div class="col-md-4">
                      <%= form.label :status, :class => "mb-1 pt-2", :style => 'font-weight:bold' %>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <select name="user[status]" id="role" class="form-control">
                          <% User.statuses.each do |key, value| %>
                            <option value="<%= value %>">
                              <%= key %>
                            </option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                  </div>

                </div>

                <hr>
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-3">
                    <div class="form-group mt-3 mb-0">
                      <div class="actions">
                        <%= form.submit 'Save', :class => 'btn btn-dark w-100', :style => 'font-weight:bold' %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group mt-3 mb-0">
                      <div class="actions">
                        <%= link_to "Cancel", users_path, :class => 'btn btn-dark w-100', :style => 'font-weight:bold; color: white;' %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>


<script>
    $(document).ready(function(){
        $("#company_id").change(function(){
            if($("#company_id").val() != ""){
                $(".hidden_option").fadeIn('fast');
            }
        });
    });
</script>